body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --site-background-color: #f9f8fd;
  --site-theme-color: #7048f6;
  --site-todo-background-color: #fdfdff;
  --site-text-dark-color: #000000;
  --site-text-white-color: #ffffff;
}
